HOMEPAGE_HOST=example.test
GLANCE_HOST=glance.example.test
HOMEPAGE_ALLOWED_HOSTS=example.test
TZ=Europe/Amsterdam
HOMEPAGE_PUID=501
HOMEPAGE_PGID=20
GLANCE_BIND_PORT=8080
TRAEFIK_CERT_RESOLVER=myresolver
TRAEFIK_TLS_DOMAIN_MAIN=example.test
TRAEFIK_TLS_DOMAIN_SANS=*.example.test
