TRAEFIK_DASHBOARD_HOST=proxy.example.test
TRAEFIK_CERT_RESOLVER=myresolver
TRAEFIK_TLS_DOMAIN_MAIN=example.test
TRAEFIK_TLS_DOMAIN_SANS=*.example.test
TRAEFIK_ACME_EMAIL=admin@example.test
TRAEFIK_DNS_CHALLENGE_DELAY=10
TRAEFIK_DNS_CHALLENGE_RESOLVERS=1.1.1.1:53,8.8.8.8:53
CF_DNS_API_TOKEN=replace-me
