STIRLING_PDF_HOST=pdf.mac.wie.dev
STIRLING_PDF_SECURITY_ENABLE_LOGIN=true
STIRLING_PDF_DEFAULT_LOCALE=en-US
TRAEFIK_CERT_RESOLVER=myresolver
TRAEFIK_TLS_DOMAIN_MAIN=mac.wie.dev
TRAEFIK_TLS_DOMAIN_SANS=*.mac.wie.dev
TZ=Europe/Amsterdam
