{
 :profiles {
            :Default {
                      :default true
                      :delay 300
                      :alone 300
                      }
            }

 :simlayers {
             :app-mode {:key :z}
             :folder-mode {:key :grave_accent_and_tilde}
            }

 :templates {
             :open "open -a '%s'"
             }

 :applications {
                :zathura ["^org\\.zathura$" "^org\\.galeon\\.zathura$"]
                }

 :froms {
         :command-quote {:key :quote :modi :command}
         }

 :tos {
       :control-q {:key :q :modi :control}
       }

 :main [
        {
         :des "Map Command + ' to Ctrl+Q only in Zathura" :rules [[:command-quote :control-q :zathura]]
         },
        {
         :des "Easier Pane Switching" :rules [[:!Eq :!E1], [:!Ew :!E2], [:!Ee :!E3], [:!Er :!E4], [:!Et :!E5], [:!Ey :!E6], [:!Eu :!E7], [:!Ei :!E8]]
         },
        {
         ;; Implement that with layer
         :des "Easier Pane Sending" :rules [[:!ERq :!RE1], [:!ERw :!RE2], [:!ERe :!RE3], [:!ERr :!RE4], [:!ERt :!RE5], [:!ERy :!RE6], [:!ERu :!RE7], [:!ERi :!RE8], [:!ERo :!RE9], [:!ERp :!RE0]]
         },
        {:des "Display Brightness simlayer"
        :rules [
           [[:q :w] :display_brightness_decrement],
           [[:q :e] :display_brightness_increment]
        ]}
]}

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
